<div style="position:relative">
  <span style="position:relative; display:inline-block;vertical-align:middle;">Recently closed mortgage rates</span>
  <img width="24" height="24" style="display:inline-block;vertical-align:middle;" src="https://mpcdn.ch/static/svg/tooltip.svg" alt="">

  <div class="popover ng-scope ng-isolate-scope right fade in" tooltip-animation-class="fade" ng-class="{ in: isOpen }" style="left:263px; top:-57px;"><div class="arrow"></div>
  <div class="popover-inner">
      <div class="popover-content">Thanks to more than CHF 1 billion of brokered mortgage volume, the experience of our mortgage specialists and the good relations with our partners, we manage to offer the best rates available to our customers.
        <span class="popover-close">Close</span>
      </div>
  </div>
  </div>
</div>
