<div class="row">

    <div class="col-l6 col">
        <p class="component-head">Tooltip example of desktop/tablet view:</p>
        <div style="position:relative">
            <span style="position:relative; display:inline-block;vertical-align:middle;">Annual gross household income</span>
            <img
                 width="24"
                 height="24"
                 style="display:inline-block;vertical-align:middle;"
                 src="https://mpcdn.ch/static/svg/tooltip.svg" alt="">

            <div class="popover right fade in" style="left:263px; top:-63px;">
                <div class="arrow"></div>
                <div class="popover-inner">
                    <div class="popover-content">
                        <p>Please enter the combined annual gross income of all persons in your household withoutpossible bonus payments.</p>
                        <p>This information helps us calculate your affordability.</p>
                        <span class="popover-close">Close</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-l6 col">
        <p class="component-head">Tooltip with 'html' template inside with block What and Why:</p>
        <div style="position:relative">
            <span style="position:relative; display:inline-block;vertical-align:middle;">Annual gross household income</span>
            <img width="24"
                 height="24"
                 style="display:inline-block;vertical-align:middle;"
                 src="https://mpcdn.ch/static/svg/tooltip.svg" alt="">

            <div class="popover right fade in" style="left:263px; top:-99px;">
                <div class="arrow"></div>
                <div class="popover-inner" style="max-width:400px;">
                    <div class="popover-content">
                        <ul>
                            <li style="margin-bottom:15px;">
                                <span>What:</span>
                                <p>Please enter the expected value of the property for which you need the mortgage</p>
                            </li>
                            <li>
                                <span>Why:</span>
                                <p>The reasons for the estimated property value is so that we can estimate your property value to the most test</p>
                            </li>
                        </ul>
                        <span class="popover-close">Close</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
     <div class="col-l6 col">
        <p class="component-head">Tooltip example of mobile view:</p>
     </div>
</div>
