<div class="row">
  <div class="col-l3 col">
    <img src="https://mpcdn.ch/static/svg/logo/hypothek-logo-de.svg" alt="">
  </div>
  <div class="col-l3 col">
    <img src="https://mpcdn.ch/static/svg/logo/logo-moneypark-mortgage-en.svg" alt="">
  </div>
  <div class="col-l3 col">
    <img src="https://mpcdn.ch/static/svg/logo/logo-moneypark-mortgage-fr.svg" alt="">
  </div>
  <div class="col-l3 col">
    <img src="https://mpcdn.ch/static/svg/logo/logo-moneypark-mortgage-it.svg" alt="">
  </div>
</div>
