/* Custom styles for pattern library */

/* custom component */
.component-head {
  font-size: 1em;
  margin: 0 0 10px 0;
  color: #789e56;
  text-decoration: underline;
  padding: 0 0 1px 0;
}

/* component from astrum */
.ndpl-component__description p {
    margin: auto auto 1.5em;
}

/**
 * Folding cube animation
 * Created by Tobias Ahlin
 * http://tobiasahlin.com/spinkit/
 * ----------------------------------------//
 */
/* changed cube animation like a house animation */
.ndpl-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;

    /*width: 80px;
    height: 80px;*/

    position: relative;

    /*transform: rotateZ(45deg);*/
}
@-webkit-keyframes fadeInFromNone {
    0% {
        /*display: none;*/
        opacity: 0;
    }

    1% {
        /*display: block;*/
        opacity: 0.5;
    }

    100% {
        /*display: block;*/
        opacity: 1;
    }
}

/* Add roof */
/*.cube-roof1:before,
.cube-roof2:before {
  opacity: 0;
  display: none;
  animation-delay: 0.9s;
}*/
.cube-roof1:before {
  /*border-bottom: 20px solid #789e56;*/
  border-top: 20px solid #fff;
  border-right: 19px solid #789e56;
  width: 0 !important;
  height: 0 !important;
  opacity: 0;
  /*animation: unset !important;*/
  animation: fadeInFromNone 0.5s ease 1.1s forwards !important;
  top: -5px !important;
}
.cube-roof2:before {
  /*border-bottom: 20px solid #789e56;*/
  border-top: 20px solid #fff;
  border-left: 20px solid #789e56;
  width: 0 !important;
  height: 0 !important;
  opacity: 0;
  /*animation: unset !important;*/
  animation: fadeInFromNone 0.5s ease 1.1s forwards !important;
  top: -5px !important;
}

.ndpl-folding-cube .ndpl-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    transform: scale(1.1);
}
.ndpl-folding-cube .ndpl-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #303637;

    -webkit-animation: ndpl-foldCubeAngle 2.4s infinite linear both;
    animation: ndpl-foldCubeAngle 2.4s infinite linear both;

    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.ndpl-folding-cube .ndpl-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}
.ndpl-folding-cube .ndpl-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}
.ndpl-folding-cube .ndpl-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}
.ndpl-folding-cube .ndpl-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.ndpl-folding-cube .ndpl-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.ndpl-folding-cube .ndpl-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
.ndpl-folding-cube .cube-1:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.ndpl-folding-cube .cube-2:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes ndpl-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    } 25%, 75% {
          -webkit-transform: perspective(140px) rotateX(0deg);
          transform: perspective(140px) rotateX(0deg);
          opacity: 1;
      } 90%, 100% {
            -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
            opacity: 0;
        }
}

@keyframes ndpl-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    } 25%, 75% {
          -webkit-transform: perspective(140px) rotateX(0deg);
          transform: perspective(140px) rotateX(0deg);
          opacity: 1;
      } 90%, 100% {
            -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
            opacity: 0;
        }
}
